<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Bona Notícias</title>
    <link rel="stylesheet" href="css/site.css">
    <!-- Explicação sobre o VIEWPORT: https://blog.caelum.com.br/pixels-pixels-ou-pixels-dicas-de-web-mobile-com-viewport/ -->
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <header>

        <div id="cabeçalho">
            <div class="section-container">
                <h2 class="titulo">Bona<br> Notícias</h2>
            </div>
        </div>
        <nav class="menu">
            <div class="section-container">
                <ul>
                    <li><a href="#">Novas</a></li>
                    <li><a href="#">Esporte</a></li>
                    <li><a href="#">Política</a></li>
                    <li><a href="#">Educação</a></li>
                    <li><a href="#">Economia</a></li>
                    <li><a href="#">Ciência</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!--Manchete principal-->
        <div class="manchete-principal">
            <div>
                <a href="#" id="manchete">
                    <div class="image">
                        <ul>
                            <li>Meio ambiente</li>
                            <li class="space"></li>
                            <li class="main-manchete">Foto de fumaça das queimadas na Amazônia é registrada por
                                astronauta na Estação Espacial.</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!------------------------>
            <div class="sessao-principais">

                <div>
                    <a href="#" class="exemplo">

                        <figure>
                            <img src="Img/Amazonia.jpg">
                            <figcaption>Algo que resume a imagem.</figcaption>
                        </figure>
                        <div class="main-title">
                            <p>Foto de fumaça das queimadas na Amazônia é registrada por astronauta na Estação Espacial.
                            </p>
                            <p>Subtitulo</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="exemplo">

                        <figure>
                            <img src="img/jair-bolsonaro-8.jpg"> 
                            <figcaption>Novas.</figcaption>
                        </figure>
                        <div class="main-title">
                            <p>Bolsonaro diz que três empresas deixarão Argentina e, uma hora depois, apaga publicação</p>
                            <p>Informação postada no Twitter do presidente repercutiu na imprensa do país vizinho</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="exemplo">

                        <figure>
                            <img src="Img/Amazonia.jpg">
                            <figcaption>Algo que resume a imagem.</figcaption>
                        </figure>
                        <div class="main-title">
                            <p>Manchete</p>
                            <p>Subtítulo</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="exemplo">

                        <figure>
                            <img src="Img/Amazonia.jpg">
                            <figcaption>Algo que resume a imagem.</figcaption>
                        </figure>
                        <div class="main-title">
                            <p>Manchete</p>
                            <p>Subtítulo</p>
                        </div>
                    </a>
                </div>

            </div>

        </div>
        


    </main>
    <footer>
        <nav class="menu-bottom">
            <div class="section-container">
                <ul>
                    <li><a href="#">Novas</a></li>
                    <li><a href="#">Esporte</a></li>
                    <li><a href="#">Política</a></li>
                    <li><a href="#">Educação</a></li>
                    <li><a href="#">Economia</a></li>
                    <li><a href="#">Ciência</a></li>
                </ul>
            </div>
        </nav>
        <div id="cabecalho-bottom">
            <div class="section-container">
                <h2 class="titulo-bottom">Bona<br> Notícias</h2>
            </div>
        </div>
    </footer>

</body>

</html>